#home-container {
  display: flex;
  background-color: aliceblue;
}

#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}

#home-container #user-friends {
  width: 30%;
  padding: 10px;
  border-left: 1px solid lightgrey;
  height: 100vh;
}

#post-textarea {
  width: 80%;
  height: 150px;
}

.aligning{
  margin-top: 5%;
  margin-left: 3%;
}