#home-container {
  display: flex;
  background-color: aliceblue;
}

#home-container #feed-posts {
  width: 70%;
  padding: 10px;
}

#home-container #user-friends {
  width: 30%;
  padding: 10px;
  border-left: 1px solid lightgrey;
  height: 100vh;
}

#post-textarea {
  width: 80%;
  height: 150px;
  margin-top: 1%;
}


ol {
	list-style-type: none;
  counter-reset: li;
  margin-top: 1%;
  margin-left: 3%;
}
#list-item {
  font-size: 1.5rem;
}

#list-item a {
  color: black;
}

#list-item:before {
  counter-increment: li;
  content: counter(li, decimal-leading-zero);
	color: rgb(1,34,77);
	margin-right: 0.25em;
}